.row
    .span7
        - if flash[:default]  
            .alert.fade.in
                != link_to 'x', '#', {:class => 'close', 'data-dismiss' => 'alert'}
                != flash[:default]
                                    
        - if flash[:info]  
            .alert.alert-info.fade.in
                != link_to 'x', '#', {:class => 'close', 'data-dismiss' => 'alert'}
                != flash[:info]
                        
        - if flash[:success]
            .alert.alert-success.fade.in
                != link_to 'x', '#', {:class => 'close', 'data-dismiss' => 'alert'}
                != flash[:success]
                                               
        - if flash[:error]
            .alert.alert-error.fade.in  
                != link_to 'x', '#', {:class => 'close', 'data-dismiss' => 'alert'}
                != flash[:error]
